<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="content">
					<match url="^(.*/)*content/([0-9]+)\.html$" />
					<action type="Rewrite" url="{R:1}/content.asp?id={R:2}" />
				</rule>
				<rule name="nav-page">
					<match url="^(.*/)*nav/(.*)-([0-9]+)\.html$" />
					<action type="Rewrite" url="{R:1}/nav.asp?name={R:2}&amp;page={R:3}" />
				</rule>
				<rule name="nav">
					<match url="^(.*/)*nav/(.*)\.html$" />
					<action type="Rewrite" url="{R:1}/nav.asp?name={R:2}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>